.movieImg {
    width: 285px;
    height: 428px;
    border-radius: 17px;
    position: relative;
}

.movie {
    width: 285px;
    height: 520px;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.5px);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hoverCard{
    width: 285px;
    height: 428px;
    border-radius: 17px;
    position: absolute;
}

.hoverCard:hover{
    background:  url("../../img/hoverLogo.png") no-repeat center,
    rgba(0, 0, 0, 0.5);
}


.movie:hover{
    background: rgba(0, 0, 0, 0.5);
}

.movieLink {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #85CFCB;
    text-align: center;
    margin-top: 11px;
    text-decoration: none;
    height: 40px;
}

.movieLink:hover {
    color: #219897;
}

.movieYear {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #D9D9D9;
    text-align: center;
    margin-top: 3px;
}

.movieText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


