* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', serif;
}

body {
    background: radial-gradient(50% 50% at 50% 50%, #3E3E67 0.52%, #181828 100%);
}

.btn-primary, .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle {
    background: none;
    border: none;
    margin-top: -5px;
    font-size: 18px;
    box-shadow: none;
    font-family: 'Comfortaa', serif;
}

.btn-primary.dropdown-toggle {
    box-shadow: none;
}

.btn-primary.dropdown-toggle:hover {
    color: #fff850;
}

.dropdown-item {
    color: black;
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0;
    vertical-align: 0;
    border: none;
}

.show > .btn-primary.dropdown-toggle:focus, .btn-primary:focus, .btn:focus {
    box-shadow: none;
}

.pagination{
    justify-content: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff850;
    background-color: #00C2FF;
    border-color: #00C2FF;
}

.page-link{
    background: none;
    color: white;
}

.page-link:hover{
    background: #1db7ff;
    color: #fff850;

}
